* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1397px;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  position: relative;
}
.logo:before {
  content: "";
  position: absolute;
  left: -76px;
  top: 17px;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 1px solid #000000;
  background-color: #fb4b4d;
  z-index: 1;
}
.logo:after {
  content: "";
  position: absolute;
  right: -81px;
  top: 17px;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  border: 1px solid #000000;
  background-color: #8b83f6;
  z-index: 1;
}
.logo img {
  position: absolute;
  left: -28px;
  bottom: -8px;
  z-index: 2;
}

.header .wrapper {
  display: flex;
  border: 1px solid #000000;
  padding: 29px 27px 29px 20px;
}
.header__box {
  width: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu--left {
  padding-right: 144px;
}
.menu--right {
  padding-left: 119px;
}
.menu__link {
  font-size: 14px;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  height: 52px;
  display: inline-block;
  padding: 0 48px;
}
.menu__link--active {
  color: #ffffff;
  background-color: #fb4b4d;
}
.menu__link--left {
  padding-left: 39px;
}
.menu__link--right {
  padding-left: 34px;
}

.content .wrapper {
  display: flex;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 0;
  padding-bottom: 10px;
}

.left {
  width: 50%;
  border-right: 1px solid #000000;
  overflow: hidden;
}
.left__top {
  position: relative;
  padding: 20px 20px 16px 20px;
  border-bottom: 1px solid #000000;
}
.left__top::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../image/content/content_vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.left__average {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 25px;
  border-bottom: 1px solid #000000;
  margin-right: -2px;
}
.left__average p {
  font-size: 17px;
  line-height: 25.92px;
  letter-spacing: 0.6px;
}
.left__bottom {
  padding: 20px 20px 19px;
  font-size: 0;
}
.left__bott {
  width: 100%;
}

.right {
  width: 50%;
}
.right__top {
  padding: 24px 51px 15px;
  line-height: 65px;
  border-bottom: 1px solid #000000;
}
.right__text {
  font-size: 58px;
  text-align: center;
}
.right__bottom {
  padding: 21px 21px 19px;
  font-size: 0;
}
.right__basement {
  width: 100%;
}

.title .wrapper {
  display: flex;
  padding: 48px 30px;
  padding-top: 55px;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}
.title__image img {
  width: 225px;
}
.title__image--right {
  transform: scaleX(-1);
}
.title__text {
  text-align: center;
  padding: 11px 15px;
}
.title__text p {
  font-size: 65px;
  line-height: 72.58px;
  letter-spacing: 0.5px;
}

@keyframes rotate_scorpion {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.table .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 434px);
  gap: 25px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}
.table__cart {
  padding-top: 21px;
  margin-bottom: 16px;
}
.table__cart--first {
  position: relative;
}
.table__cart--first:before {
  content: "";
  position: absolute;
  top: 21px;
  left: 0;
  bottom: 0;
  font-size: 0;
  width: 100%;
  background-image: url("../image/table/fire.svg");
  background-repeat: no-repeat;
  z-index: 2;
}
.table__cart--first:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 416px;
  bottom: 0;
  font-size: 0;
  width: 100%;
  background-image: url("../image/table/fires.svg");
  background-repeat: no-repeat;
  z-index: 2;
}
.table__cart--third {
  position: relative;
}
.table__cart--third:before {
  content: "";
  position: absolute;
  top: 21px;
  left: -37px;
  bottom: 0;
  font-size: 0;
  width: 100%;
  background-image: url("../image/table/fires.svg");
  background-repeat: no-repeat;
  z-index: 2;
}
.table__cart--third::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 379px;
  bottom: 0;
  font-size: 0;
  width: 100%;
  background-image: url("../image/table/fire.svg");
  background-repeat: no-repeat;
  z-index: 2;
}
.table__image {
  position: relative;
}
.table__image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 22px;
  right: 0;
  top: 223px;
  font-size: 0;
  width: 100%;
  background-image: url("../image/table/IMAGE.svg");
  background-repeat: no-repeat;
  margin-bottom: 5px;
  z-index: 1;
}
.table__image--center {
  position: relative;
}
.table__image--center:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 22px;
  right: 0;
  top: 223px;
  font-size: 0;
  width: 100%;
  background-image: url("../image/table/center.svg");
  background-repeat: no-repeat;
  z-index: 1;
}
.table__image--right {
  position: relative;
}
.table__image--right:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 22px;
  right: 0;
  top: 223px;
  font-size: 0;
  width: 100%;
  background-image: url("../image/table/right.svg");
  background-repeat: no-repeat;
  margin-bottom: 5px;
  z-index: 1;
}
.table__top {
  position: absolute;
  top: 128px;
  left: 133px;
  font-size: 18px;
  line-height: 28.08px;
  letter-spacing: 0.5px;
}
.table__top--tp {
  position: absolute;
  top: 128px;
  left: 125px;
  font-size: 18px;
  line-height: 28.08px;
  letter-spacing: 0.5px;
}
.table__bottom {
  position: absolute;
  top: 171px;
  left: 62px;
  font-size: 32px;
  line-height: 38.02px;
  letter-spacing: 0.5px;
}
.table__bottom--bot {
  position: absolute;
  top: 172px;
  left: 56px;
  font-size: 32px;
  line-height: 38.02px;
  letter-spacing: 0.5px;
}
.table__bottom--right {
  position: absolute;
  top: 171px;
  left: 66px;
  font-size: 32px;
  line-height: 38.02px;
  letter-spacing: 0.5px;
}

.scroll .wrapper {
  padding: 0;
}
.scroll__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 1px 21px;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}
.scroll__content p {
  font-size: 17px;
  line-height: 25.92px;
  letter-spacing: 0.5px;
}
.scroll__content--bottom {
  padding: 23px 0 21px 1px;
}
.scroll__first {
  padding-left: 12px;
}
.scroll__second {
  padding-right: 8px;
}
.scroll__third {
  padding-right: 13px;
}
.scroll__last {
  padding-left: 1px;
}

.image .wrapper {
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 20px 20px;
  font-size: 0;
}
.info .wrapper {
  padding: 0;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  display: flex;
  font-size: 0;
}
.info__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000000;
}
.info__text {
  padding: 52px 84px;
  text-align: center;
  margin-bottom: -6px;
}
.info__text h4 {
  font-size: 58px;
  font-weight: 400;
  line-height: 64.51px;
  letter-spacing: 0.5px;
}
.info__right {
  width: 50%;
  background-image: url("/image/info/right.svg");
  background-repeat: no-repeat;
}
.info__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 136px;
}
.info__first {
  max-width: 392px;
  margin-bottom: 22px;
}
.info__first p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.info__twhu {
  margin-bottom: 25px;
}
.info__twhu p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.info__second {
  max-width: 373px;
  margin-bottom: 19px;
}
.info__second p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.info__third {
  max-width: 386px;
}
.info__third p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.layers .wrapper {
  padding: 0;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.layers img {
  font-size: 0;
  width: 100%;
  display: block;
  margin-top: -179px;
}

.foot .wrapper {
  background-color: #cdfd3b;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 20px 93px;
}
.foot__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot__list {
  list-style: none;
}
.foot__link {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.foot__link--bott {
  font-size: 16px;
}