.header {
  .wrapper {
    display: flex;
    border: 1px solid #000000;
    padding: 29px 21px;
  }
  &__box {
    width: 50%;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &--left {
    padding-right: 144px;
  }

  &--right {
    padding-left: 119px;
  }

  &__link {
    font-size: 14px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    height: 52px;
    display: inline-block;
    padding: 0 48px;

    &--active {
      color: #ffffff;
      background-color: #fb4b4d;
    }

    &--left {
      padding-left: 39px;
    }

    &--right {
      padding-left: 34px;
    }
  }
}
