.image {
  .wrapper {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 20px 20px;
    font-size: 0;
  }

  img {
  }
}
