.info {
  .wrapper {
    padding: 0;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    display: flex;
    font-size: 0;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000000;
  }

  &__text {
    padding: 52px 84px;
    text-align: center;
    margin-bottom: -6px;
    h4 {
      font-size: 58px;
      font-weight: 400;
      line-height: 64.51px;
      letter-spacing: 0.5px;
    }
  }

  &__right {
    width: 50%;
    background-image: url("/image/info/right.svg");
    background-repeat: no-repeat;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    padding: 136px;
  }

  &__first {
    max-width: 392px;
    padding-bottom: 22px;
    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }

  &__twhu {
    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }

  &__second {
    max-width: 373px;
    padding: 22px 0;

    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }

  &__third {
    max-width: 386px;

    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}
