.table {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 434px);
    gap: 25px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
  }

  &__cart {
    padding-top: 21px;
    margin-bottom: 16px;

    &--first {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 21px;
        left: 0;
        bottom: 0;
        font-size: 0;
        width: 100%;
        background-image: url("../image/table/fire.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }

      &:after {
        content: "";
        position: absolute;
        top: 21px;
        left: 416px;
        bottom: 0;
        font-size: 0;
        width: 100%;
        background-image: url("../image/table/fires.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }
    }

    &--third {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 21px;
        left: -37px;
        bottom: 0;
        font-size: 0;
        width: 100%;
        background-image: url("../image/table/fires.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        top: 21px;
        left: 379px;
        bottom: 0;
        font-size: 0;
        width: 100%;
        background-image: url("../image/table/fire.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }
    }
  }

  &__image {
    position: relative;

    img {
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 22px;
      right: 0;
      top: 223px;
      font-size: 0;
      width: 100%;
      background-image: url("../image/table/IMAGE.svg");
      background-repeat: no-repeat;
      margin-bottom: 5px;
      z-index: 1;
    }

    &--center {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 22px;
        right: 0;
        top: 223px;
        font-size: 0;
        width: 100%;
        background-image: url("../image/table/center.svg");
        background-repeat: no-repeat;
        z-index: 1;
      }
    }

    &--right {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 22px;
        right: 0;
        top: 223px;
        font-size: 0;
        width: 100%;
        background-image: url("../image/table/right.svg");
        background-repeat: no-repeat;
        margin-bottom: 5px;
        z-index: 1;
      }
    }
  }

  &__top {
    position: absolute;
    top: 128px;
    left: 133px;
    font-size: 18px;
    line-height: 28.08px;
    letter-spacing: 0.5px;

    &--tp {
      position: absolute;
      top: 128px;
      left: 125px;
      font-size: 18px;
      line-height: 28.08px;
      letter-spacing: 0.5px;
    }
  }

  &__bottom {
    position: absolute;
    top: 171px;
    left: 62px;
    font-size: 32px;
    line-height: 38.02px;
    letter-spacing: 0.5px;

    &--bot {
      position: absolute;
      top: 172px;
      left: 56px;
      font-size: 32px;
      line-height: 38.02px;
      letter-spacing: 0.5px;
    }

    &--right {
      position: absolute;
      top: 171px;
      left: 66px;
      font-size: 32px;
      line-height: 38.02px;
      letter-spacing: 0.5px;
    }
  }
}
